* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

/* Layout struct */

.col1{}
.col2{}
.grid-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}

/* Sections */
section#family{
  background-color: #0E1424;
}
